<!DOCTYPE html>
<html lang="en" style="height: 100%;">

<head>
  <script src="https://kit.fontawesome.com/cf22dba188.js" crossorigin="anonymous"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Todo List</title>
  {{!-- 原生Boostrap提供的CSS樣式表： --}}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <!-- 也可以使用Boostwatch的開源樣式表，有很多高手針對原生Boostrap CSS修改的切版主題(記得將integrity屬性拿掉) -->
  {{!--
  <link href="https://bootswatch.com/5/flatly/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous"> --}}
</head>

<body class="bg-light"
  style="height: 100%; background-image: url('https://images.pexels.com/photos/5386754/pexels-photo-5386754.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260'); background-size: cover; z-index: -1;">
  <div style="z-index: 1; background-color: rgba(255, 255, 255, 0.15); width: 100%; height: 100%;">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(191, 200, 204);">
        <div class="container-fluid">
          <a class="navbar-brand" href="/todos">Todo List</a>
          <div class="collapse navbar-collapse d-flex flex-row-reverse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/todos/login">LogOut</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main style="width: 100%; height: 100%;">
      <div class="container mt-3 d-flex flex-column justify-content-center align-items-center"
        style="width: 100%; height: 100%;">
        {{{ body }}}
      </div>
    </main>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>