<p>
  <input type="checkbox" name="isDone" {{#if todo.isDone}} checked {{/if}} disabled>
  <!-- 因為只需要顯示「字串」就好，因此用雙大括號就OK -->
  {{todo.name}}
</p>
<!-- 路徑用 / 開頭，表示「從根目錄開始」，若用 ./ 代表「從同一層資料夾開始」 -->
<a href="/todos/{{ todo._id }}/edit">Edit</a>
<a href="/">Back</a>
<form action="/todos/{{ todo._id }}/delete" method="POST" style="display: inline;">
  <button type="submit">Delete</button>
</form>