<div
  style="text-align: center; z-index: 2; border:rgba(57, 57, 214, 0.5) solid 3px; border-radius: 5px; background-color: rgba(255, 255, 255, 0.5); width: 40%; padding: 8px;">
  <div style="text-align: center; width: 100%; margin-bottom: 8px; margin-top: 5px;">
    <a href="/todos/new"
      style="color: black; text-decoration: none; border: 2px; border-bottom-style: solid; padding: 2px;"><i
        class="fas fa-plus" style="margin-right: 3px;"></i>New Task</a>
  </div>
  <ul class="list-group" style="width: 100%;">
    {{#each todos}}
    <li class="list-group-item bg-light" style="width: 100%;">
      <div style="display: flex; flex-direction: row; justify-content: space-between; width: 100%;">
        <a style="display: flex; align-items: center; width: 80%; text-decoration: none; color: black;"
          href="./todos/{{ this._id }}">
          <div
            style="display: flex; flex-direction: row; justify-content: flex-start; align-items: center; max-width: calc(100% - 20px);">
            <label for="isDone" style="min-width: 25px;">
              <input style="vertical-align: middle; width: 20px; height: 20px;" type="checkbox" name="isDone"
                id="isDone" {{#if this.isDone}} checked {{/if}} disabled>
            </label>
            <span
              style="display: inline-block; font: bold; font-size: larger; vertical-align: middle; text-align: start; margin-left: 5px; width: calc(100% - 25px); word-wrap: break-word;">{{this.agendas}}</span>
          </div>
        </a>
        <div style="display: flex; align-items: center; justify-content: end;">
          <a href="./todos/{{ this._id }}/edit" style="margin: 0 1px 0 1px;"><i class="fas fa-edit"
              style="font-size: larger; color: rgb(50, 50, 50);"></i></a>
          <a href="./todos/{{ this._id }}/delete" style="margin: 0 1px 0 1px;"><i class="fas fa-trash"
              style="font-size: larger; color: rgb(50, 50, 50);"></i></a>
        </div>
      </div>
    </li>
    {{/each}}
  </ul>
</div>
{{!--
「_id」底線id是MongoDB自動為每一筆資料生成的唯一值，因此，雖然沒有在todo.js那個檔案中的Schema設定每一筆資料中應有id值，但_id是內建的，可以開Robo3T去看資料庫中每筆資料的_id值是多少(蠻長的，例如：5e9460ebe0174f4a734ce12a)。之後點擊Detail按鈕後，網址會變這樣：/todos/5e9460ebe0174f4a734ce12a。這是GET的特性。
--}}

{{!-- Delete用<form>是因為想用POST方法，<form>的method屬性可以指定用POST --}}