<!-- 用 action 屬性來定義表單資料發送的位置，這代表app.js需要再新增一條 POST /todos 路由來接住這筆表單資料。 -->
<form action="/todos" method="POST" style="display: inline;">
  <div class="input-group">
    <input class="form-control me-2" type="text" placeholder="name" name="name">
    <button class="btn btn-success" type="submit">Create</button>
  </div>
</form>